body {
  font-family: "Montserrat", sans-serif;
  color: #41153082;
}
ul {
  margin: 0;
  padding: 5px;
}
li {
  list-style-type: none;
  color: #411530;
  font-size: 12px;
}

p {
  color: #41153082;
  line-height: 0.5;
  font-size: 14px;
}

a {
  color: #d36b00;
  text-decoration: none;
}

.form-control::placeholder {
  color: #d36900b9;
  opacity: 1;
  font-size: 12px;
}

.form-control {
  font-size: 14px;
  line-height: 1;
  border-color: #4115301c;
}

#city {
  color: #d36b00;
  text-align: right;
  font-size: 28px;
}
#temperature {
  color: #411530;
  font-size: 28px;
  text-align: right;
}
#units {
  color: #411530;
  font-size: 15px;
  text-align: left;
}

.pad {
  padding: 0;
}
.weather-app-wrap {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.weather-app {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #e6d2aa;
  border-radius: 10px;
  margin-top: 30px;
}

.forecast {
  text-align: center;
  padding: 0 10px;
  border-left: 1px solid #e6d2aa;
}
.forecast:first-child {
  border-left: none;
}
.conditions {
  color: #e6d2aa;
  font-size: 15px;
  text-align: right;
}
.values {
  text-align: left;
  padding: 5px;
}
.definitions {
  border-right: 1px solid #e6d2aa;
}

.check {
  border-radius: 8px;
  border: 1px solid #41153004;
  color: #f1efdc;
  font-size: 13px;
  background: #4115304a;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.check:hover {
  background: #f1efdc87;
  color: #4115304a;
}

.location {
  border-radius: 8px;
  border: 1px solid #41153004;
  font-size: 13px;
  background: #4115304a;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.location:hover {
  background: #f1efdc87;
}

.forecast-day {
  font-size: 16px;
  color: #41153082;
}

.forecast-temp-max-min {
  font-size: 10px;
  color: #411530;
}

#icon {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -15px;
  right: -20px;
}

.search-eng {
  max-height: 45px;
}
.temperature-min {
  color: #41153082;
}
#description {
  display: block;
  text-align: right;
  color: #41153082;
  font-size: 12px;
  padding: 0;
}
#description:first-letter {
  text-transform: uppercase;
}
#min {
  color: #41153082;
}

a {
  color: #411530;
}
