body {
  font-family: "Montserrat", sans-serif;
}
ul {
  margin: 0;
  padding: 5px;
}
li {
  list-style-type: none;
  color: #aa0000;
  font-size: 12px;
}

p {
  color: #5a6275;
  line-height: 1;
}

a {
  color: #aa0000;
  text-decoration: none;
}
.form-control {
  font-size: 14px;
  line-height: 1;
}
#city {
  color: #1c7ecb;
  text-align: right;
  font-size: 28px;
}
#temperature {
  color: #aa0000;
  font-size: 28px;
  text-align: right;
}
#units {
  color: #aa0000;
  font-size: 15px;
  text-align: left;
}

.pad {
  padding: 0;
}
.weather-app-wrap {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.weather-app {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ced4d9;
  border-radius: 10px;
  margin-top: 30px;
}

.forecast {
  text-align: center;
  padding: 0 10px;
  color: #5a6275;
  border-left: 1px solid #ced4d9;
}
.forecast:first-child {
  border-left: none;
}
.conditions {
  color: #ced4d9;
  font-size: 15px;
  text-align: right;
}
.values {
  text-align: left;
  padding: 5px;
}
.definitions {
  border-right: 1px solid #ced4d9;
}

.check {
  border-radius: 8px;
  border: 1px solid #ced4d9;
  color: white;
  font-size: 13px;
  background: #ced4d9;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.check:hover {
  background: white;
  color: #ced4d9;
}

.location {
  border-radius: 8px;
  border: 1px solid #ced4d9;
  color: white;
  font-size: 13px;
  background: #ced4d9;

  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.location:hover {
  background: white;
  color: #ced4d9;
}

.active {
  color: #aa0000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.forecast-day {
  font-size: 16px;
  color: #5a6275;
}

.forecast-temp-max-min {
  font-size: 10px;
  color: #aa0000;
}

#icon {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -15px;
  right: -20px;
}

.search-eng {
  max-height: 45px;
}
.temperature-min {
  color: #aa000090;
}
#description {
  display: block;
  text-align: right;
  color: #aa000090;
  font-size: 12px;
  padding: 0;
}
#description:first-letter {
  text-transform: uppercase;
}
